<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>


    <div class="table-resposibe">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Descripcion</th>
                    <th>Almacenamiento</th>
                    <th>RAM</th>
                    <th>Procesador</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Imagen</th>
                    <th>Estado</th>
                    <th>Categoria</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <% producto.forEach(producto => { %>
                    <tr>
                        <td><%= producto.idproducto %></td>
                        <td><%= producto.nommarca %></td>
                        <td><%= producto.modeloproducto %></td>
                        <td><%= producto.descripcionproducto %></td>
                        <td><%= producto.memoriagb %></td>
                        <td><%= producto.ramgb %></td>
                        <td><%= producto.procesador %></td>
                        <td><%= producto.precioproducto %></td>
                        <td><%= producto.cantidadproducto %></td>
                        <td><%= producto.imageproducto %></td>
                        <td><%= producto.disponibilidadproducto %></td>
                        <td><%= producto.nomcategoria %></td>
                        <td>
                            <a href="./edit/" class="btn btn-sm btn-info">Editar</a>
                            <a href="./delete/" class="btn btn-sm btn-danger delete">Eliminar</a>
                        </td> 

                    </tr>
  
                    <%});%>

            </tbody>

        </table>

    </div>

    
</body>
</html>